/* Styling of the about box. */ 
.about-section {
  background: rgba(255, 255, 255, 0.31);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  box-shadow: 20px 20px 60px $black-shade-mid, -5px -5px 10px $light-shade-mid;
}
